<ion-view>
	<ion-nav-title>Solicitar Remédio</ion-nav-title>
	<ion-content>
		<form name="Solicitar" ng-submit="enviado()">
			<div class="list">
			<div class="row">
			<div class="col col-100">
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Seu nome</span>
			    <input type="text" placeholder="John">
			  </label>
			  </div>
			</div>
			  <div class="row">
			<div class="col col-100">
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Nº do Cartão SUS</span>
			    <input type="text" placeholder="Ex: 0123456789012345">
			  </label>
			  </div>
			</div>
			  <div class="row">
			<div class="col col-100">
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Email</span>
			    <input type="text" placeholder="john@suhr.com">
			  </label>
			  </div>
			</div>
			  <div class="row">
			<div class="col col-100">
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Telefone</span>
			    <input type="text" placeholder="(11)1234-5678">
			  </label>				
			</div>
			</div>
			<div class="row">
			<div class="col col-100">
			<button type="submit" class="button button-block button-positive">Encaminhar Solicitação</button>
			</div>
			</div>
		</form>
	</ion-content>
</ion-view>